---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Locomotive | Spectrum Parts and Components">
  <main class="max-w-6xl mx-auto px-6 py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col">
        <h1 class="font-black text-2xl">LOCOMOTIVE</h1>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6 mt-2"
        >
          <p class="italic">
            Bumper to bumper, Spectrum Transport offers parts for all major
            components of a locomotive, from engine parts to the repair and new
            supply of printed circuit boards.
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <img
          src="/Group 6.e82363cb.png"
          alt="Locomotive Components"
        />
      </div>
    </div>
    <div class="bg-yellow-400 mt-6">
      <p class="ml-4 text-black">OTHERS</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-6 mx-6">
      <div class="col-span-2">
        <h2 class="font-bold text-lg">OTHERS:</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
          <ul class="mt-2">
            <li>Seals</li>
            <li>Gears</li>
            <li>Cast Assemblies</li>
          </ul>
        </div>
      </div>
    </div>
    <img
      src="/cintillo_truck.b35d5020.png"
      class="mt-8 overflow-hidden h-12"
      alt="mining truck parts"
    />
  </main>
</Layout>
