---
import Layout from "../../layouts/Layout.astro";
import PartSearch from "../../components/PartSearch.jsx";

const { searchQuery } = Astro.params;

const res = await fetch(
    "https://script.google.com/macros/s/AKfycbx3qXfCkWgD1XxRTOznHOioui7C1-kc_SXG7cdTvFpdD-BuPrbl-hc81HzwCLvldsgaZA/exec",
    {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    }
);
const items = await res.json();

const parts = await items.data;
const data = await items.data;
const rows = await items.row_count;
const savedProducts = [];
---

<Layout title="Catalog | Spectrum Parts and Components"  desc="Search our extensive list of heavy equipment parts and components">
    <style>
        .spectrum-loader {
            z-index: 1000;
            height: 100vh !important;
        }
    </style>
    <div
        id="loader"
        class="pt-24 text-center mx-auto spectrum-loader rounded bg-[#191e67]"
    >
        <p class="text-center text-xl font-black">LOADING PARTS</p>
        <progress class="progress progress-primary bg-gray-200 w-56 mx-auto"
        ></progress>
    </div>
    <main class="max-w-7xl mx-auto sm:mt-6 px-4">
        <h1 class="text-center mt-6 text-2xl font-bold text-white">
            PARTS CATALOG
        </h1>
        <PartSearch client:only="react" partsData={parts} searchQuery={searchQuery} />
    </main>

    <div class="footer fixed bottom-0 right-0 left-0 flex">
        <div class="blue cssBG"></div>
        <div class="yellow cssBG"></div>
        <div class="center text-center pt-2"></div>
    </div>
    <script is:inline>
        // Show the loading animation
        document.getElementById("loader").style.display = "block";

        // Hide the loading animation after 5 seconds
        setTimeout(function () {
            document.getElementById("loader").style.display = "none";
        }, 2000);
    </script>
</Layout>
