---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Spectrum Parts & Components">
  <main class="text-center mt-16">
    <h1 class="text-7xl font-black">404</h1>
    <p class="text-xl">Page not found</p>
    <a class="btn btn-primary mt-6" href="/">Back to Home</a>
    </main>
</Layout>
    