---
import Layout from "../layouts/Layout.astro";
import PartSearch from "../components/PartSearch.jsx";

const res = await fetch(
    "https://script.google.com/macros/s/AKfycbx3qXfCkWgD1XxRTOznHOioui7C1-kc_SXG7cdTvFpdD-BuPrbl-hc81HzwCLvldsgaZA/exec",
    {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    }
);
const items = await res.json();

const parts = await items.data;
const data = await items.data;
const rows = await items.row_count;
const savedProducts = [];
---

<Layout title="Catalog | Spectrum Parts and Components">
  <main class="max-w-7xl mx-auto mt-24 sm:mt-6 px-4">
    <h1 class="text-center mt-6 text-2xl font-bold text-white">
      PARTS CATALOG
    </h1>
    <PartSearch client:only partsData={parts} />
  </main>

  <div class="footer fixed bottom-0 right-0 left-0 flex">
    <div class="blue cssBG"></div>
    <div class="yellow cssBG"></div>
    <div class="center text-center pt-2"></div>
  </div>
  <script is:inline></script>
</Layout>
