---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us | Spectrum Parts & Components">
  <main>
    <div
      class="mx-auto max-w-5xl mt-16 bg-[url('/Group.0f78f805.png')] bg-cover sm:py-16"
    >
    </div>
    <div class="max-w-5xl mx-auto">
      <div>
        <div class="bg-white rounded-b py-12 lg:px-28 px-8">
          <h1
            class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-800"
          >
            CONTACT US
          </h1><form
            name="contact"
            method="POST"
            action="https://api.web3forms.com/submit"
          >
            <input type="hidden" name="from_name" value="Spectrum Parts" />
            <input
              type="hidden"
              name="redirect"
              value="https://spectrum-transport.com/thanks"
            />
<input type="hidden" name="ccemail" value="joseip@spectrum-transport.com" />
            <input
              type="checkbox"
              name="botcheck"
              class="hidden"
              style="display: none;"
            />
            <input type="hidden" name="subject" value="New Contact Request" />
            <input
              type="hidden"
              name="access_key"
              value="7cefaf24-a0e3-4003-ad1d-1f441c2780e3"
            />
            <div class="md:flex items-center mt-12">
              <div class="md:w-full flex flex-col">
                <label
                  class="text-base font-semibold leading-none text-gray-800"
                  >Name</label
                ><input
                  tabindex="0"
                  name="name"
                  arial-label="Please enter your name"
                  type="text"
                  class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-400"
                  placeholder="Please enter your name"
                  required
                />
              </div><div class="md:w-full flex flex-col md:ml-6 md:mt-0 mt-4">
                <label
                  class="text-base font-semibold leading-none text-gray-800"
                  >Email Address</label
                ><input
                  tabindex="0"
                  name="email"
                  arial-label="Please enter your email address"
                  type="email"
                  class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-400"
                  placeholder="Please enter your email address"
                  required
                />
              </div>
            </div><div class="md:flex items-center mt-8">
              <div class="md:w-full flex flex-col">
                <label
                  class="text-base font-semibold leading-none text-gray-800"
                  >Company name</label
                ><input
                  tabindex="0"
                  name="company"
                  arial-label="Please enter your company name"
                  type="text"
                  class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-400"
                  placeholder="Please enter your company name"
                />
              </div><div class="md:w-full flex flex-col md:ml-6 md:mt-0 mt-4">
                <label
                  class="text-base font-semibold leading-none text-gray-800"
                  >Country</label
                ><input
                  tabindex="0"
                  name="country"
                  arial-label="Please enter your country name"
                  type="text"
                  class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-400"
                  placeholder="Please enter your country name"
                />
              </div>
            </div><div>
              <div class="w-full flex flex-col mt-8">
                <label
                  class="text-base font-semibold leading-none text-gray-800"
                  >Message</label
                ><textarea
                  tabindex="0"
                  name="message"
                  aria-label="leave a message"
                  role="textbox"
                  required
                  class="h-36 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-400 resize-none"
                ></textarea>
              </div>
            </div><p class="text-xs leading-3 text-gray-600 mt-4">
              By clicking submit you agree to be contacted by our company to
              discuss parts. Information is only used for this purpose and will
              not be shared with any third parties.
            </p><div class="items-center justify-center text-center w-full">
              <button class="btn btn-primary w-full mt-6 mb-2" type="submit"
                >SUBMIT</button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</Layout>
