---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Electronic Repairs | Spectrum Parts and Components">
  <main class="max-w-6xl mx-auto px-6 sm:py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col">
        <h1 class="font-black text-2xl">ELECTRONIC REPAIRS</h1>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6 mt-2"
        >
          <p class="italic">
            We offer a wide variety of repairs for the mining industry including
            truck electronic repairs, locomotive repairs, control and operation
            repairs for mining equipment
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <img src="/electronic-repairs.fd82fa0f.png" alt="Electronic repairs" />
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3">
      <div>
        <div class="bg-yellow-400 mt-6 sm:border-r border-blue-900">
          <p class="ml-4 text-black">GE MINING TRUCKS REPAIRS:</p>
        </div>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6"
        >
          <ul class="">
            <li>Main Control Group Components</li>
            <li>Card and Electronic Panels</li>
            <li>IGBT Phase Modules</li>
            <li>GTO Phase Modules</li>
            <li>Power Supplies</li>
            <li>Diode Assemblies</li>
            <li>Display Screens</li>
            <li>Gate Drivers</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="bg-yellow-400 mt-6 sm:border-r border-blue-900">
          <p class="ml-4 text-black">LOCOMOTIVE REPAIRS:</p>
        </div>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6"
        >
          <ul class="">
            <li>Card and Electronic Panels</li>
            <li>IGBT Repairs</li>
            <li>Diode Panels</li>
            <li>Display Screens</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="bg-yellow-400 mt-6">
          <p class="ml-4 text-black">DRAGLINE, SHOVEL & DRILL REPAIRS:</p>
        </div>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6"
        >
          <ul class="">
            <li>Card and Electronic Panels</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-8">
      <img
        src="/cintillo_electric.8bb46864.png"
        class="mt-8"
        alt="Electrical parts"
      />
    </div>
  </main>
</Layout>
