---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Electric Equipment | Spectrum Parts and Components">
  <main class="max-w-6xl mx-auto px-6 sm:py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col">
        <h1 class="font-black text-2xl">ELECTRIC EQUIPMENT</h1>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6 mt-2"
        >
          <p class="italic">
            We support and distribute electric equipment used in the mining
            industry for a wide variety of manufactures.
          </p>
        </div>
      </div>
      <div class="col-span-2"></div>
    </div>
    <div class="py-8">
      <img src="/electric_equipment.2a00cd5a.png" alt=" OFFERING GENERAL ELECTRIC • CUTLER HAMMER • SQUARE D • BUSSMANN • ALLEN BRADLEY •
      • POWEREX • FERRAZ SHAWMUT • PHILLIPS • WESTINGHOUSE • CYBEREX • LITHONIA •
      • RELIANCE ELECTRIC • INTERNATIONAL RECTIFIER • HUBBELL • OHMITE PARTS" />
      <img src="/cintillo_electric.8bb46864.png" class="mt-8" alt="Electrical parts" />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col">
        <h1 class="font-black text-2xl">ELECTRIC REPAIRS</h1>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6 mt-2"
        >
          <p class="italic">
            We excel in the repair of electric equipment used in the mining
            industry and offer cost saving alternatives to a wide variety of
            products
          </p>
        </div>
      </div>
      <div class="col-span-2"></div>
    </div>
  </main>
</Layout>
