---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Spectrum Parts and Components">
	<main class="mt-0">
		<div class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 py-16 z-10 relative"></div>
		<img src="/background.5c09787a.png" alt="Spectrum Parts and Components" class="mx-auto -mt-32 relative z-0" />
		<div class="bg-[url('/footer_bg_home.28603ffb.png')] py-8 sm:py-32 bg-cover bg-center sm:-mt-56 -mt-32 relative z-10">
			<img src="/caption_2x.17077964.png" alt="Spectrum Parts and Components" class="mx-auto sm:w-2/4" />
		</div>
		<span class="text-xs text-gray-600 float-right">Image: Open cut coal mine in the NSW Hunter Valley (Credit: Max Phillips (Jeremy Buckingham MLC)/ Beyond Coal and Gas/ Flickr.com)
		</span>
	</main>
</Layout>
