---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank You | Spectrum Parts & Components">
  <main>
    <div
      class="mx-auto max-w-5xl mt-16 bg-[url('/Group.0f78f805.png')] bg-cover py-16"
    >
    </div>
    <div class="max-w-5xl mx-auto">
      <div>
        <div
          class="bg-white rounded-b py-12 lg:px-28 px-8 text-center"
        >
          <h1
            class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-800"
          >
            THANK YOU FOR CONTACTING US
          </h1>
          <p class="text-center text-gray-900 text-xl mt-6">We will be in touch soon</p>
          <a class="btn btn-primary mt-6" href="/">Back to Home</a>
        </div>
      </div>
    </div>
  </main>
</Layout>
