---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Draglines, Shovels & Drills | Spectrum Parts and Components">
  <main class="max-w-6xl mx-auto px-6 sm:py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col">
        <h1 class="font-black text-2xl">DRAGLINES, SHOVELS & DRILLS</h1>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6 mt-2"
        >
          <p class="italic">
            Our team supplies electrical parts and components used in the
            control and operation of these mining equipment.
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <img
          src="/draglines_2x.77db7a81.png"
          alt="Draglines, Shovels & Drills"
        />
      </div>
    </div>
    <div class="bg-yellow-400 mt-6">
      <p class="ml-4 text-black">CARDS AND ELECTRONIC PANELS</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-6 mx-6">
      <div class="col-span-2">
        <h2 class="font-bold text-lg">CARDS AND ELECTRONIC PANELS:</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
          <ul class="mt-2">
            <li>Reapir</li>
            <li>New Supply</li>
            <li>Remanufactured</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
