---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mining Truck Control Group | Spectrum Parts and Components" desc="Discover a wide range of electrical, electronic, and mechanical parts for mining haul trucks. We offer new, remanufactured, and repair services to ensure optimal performance.">
  <main class="max-w-6xl mx-auto px-6 sm:py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col">
        <h1 class="font-black text-2xl">MINING TRUCK CONTROL GROUP</h1>
        <div
          class="bg-gradient-to-r from-blue-900/80 via-blue-800/80 to-blue-700/80 px-4 py-6 mt-2"
        >
          <p class="italic">
            We offer a wide range of electrical, electronic and mechanical parts
            for AC and DC propulsion systems used in mining haul trucks.
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <img
          src="/mining_truck_2x.36bc0a92.png"
          alt="Mining Truck Components"
        />
      </div>
    </div>
    <div class="bg-yellow-400 mt-6">
      <p class="ml-4 text-black">CONTROL GROUP</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-6 mx-6">
      <div class="flex flex-col sm:border-r">
        <h2 class="font-bold text-lg">CARDS AND ELECTRONIC PANELS:</h2>
        <ul class="mt-2">
          <li>Repair</li>
          <li>New Supply</li>
          <li>Remanufactured</li>
        </ul>
      </div>
      <div class="col-span-2 sm:border-r">
        <h2 class="font-bold text-lg">CONTROL CABINETS:</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <ul class="mt-2">
            <li>Control Wiring</li>
            <li>Diode Panels and Assemblies</li>
            <li>Fuses</li>
            <li>Gate Drivers</li>
            <li>GTO Assemblies</li>
            <li>IGBT Assemblies</li>
            <li>Panels and Connecting Rods</li>
          </ul>
          <ul class="mt-2">
            <li>Phase Modules</li>
            <li>Power Supplies</li>
            <li>Relays</li>
            <li>Resistors</li>
            <li>SCR's</li>
            <li>Sensors</li>
            <li>Switches</li>
            <li>Transformers</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col">
        <h2 class="font-bold text-lg">CONTACTORS AND REVERSES:</h2>
        <ul class="mt-2">
          <li>New Supply</li>
          <li>Bus Bar</li>
          <li>Rectifiers</li>
          <li>Capacitors</li>
          <li>Contactor kits</li>
          <li>Arc Chutes</li>
          <li>Remanufactured</li>
        </ul>
      </div>
    </div>
    <div id="bg" class="mt-6"></div>
  </main>
</Layout>
<style>
  #bg {
    background: url("/cintillo_truck.b35d5020.png");
    height: 62px;
    background-repeat: repeat-x;
    animation: 100s scroll infinite linear;
    background-position: center center;
    background-size: cover;
  }

  @keyframes scroll {
    100% {
      background-position: -3000px 0;
    }
  }
</style>
