---
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc || "Discover high-quality parts for mining, locomotive, and heavy machinery at Spectrum Transport. Our extensive selection includes reliable components to keep your equipment running smoothly. Shop now and benefit from our expertise and exceptional service."} />
    <script is:inline data-domain="spectrum-transport.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #191e67 !important;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
